src/ly_to_musicxml/__pycache__
*.py[cod]
*.pyo

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*

.pkgbuild-venv/
.pkguse-venv/
.testpypi-venv/
.venv/
venv/
env/

build/
dist/
*.egg-info/

.vscode/

*.musicxml
*.exports/

docs/publishing.md